<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"><!-- Importações necessárias para utilizar o Thymeleaf -->
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="salvarpessoa" method="post">
		<label>Nome:</label>
		<input type="text" name="nome">
		<label>Sobrenome:</label>
		<input type="text" name="sobrenome">
		<label>Idade:</label>
		<input type="text" name="idade">	
		<input type="submit" value="Salvar">
	</form>
	
	<a href="/listapessoas">Lista Pessoas</a>
	
	<table>
		<tr th:each = "pessoa : ${pessoas}"><!-- foreach do thymeleaf, recuperando alista do bd pessoas e jogando em varipaveis pessoa -->
			<td th:text = ${pessoa.id}></td>
			<td th:text = ${pessoa.nome}></td>
			<td th:text = ${pessoa.sobrenome}></td>
			<td th:text = ${pessoa.idade}></td>
		</tr>
	</table>
	
</body>
</html>